.meat {
  color: #660000;
}

.veggie {
  color: #003300;  
}

.fruit {
  color: #CC0000;
}

.canned {
  color: #585858;  
}

.cleaning {
  color: #CCCC00;  
}

.snack {
  color: #0000CC;  
}

#complete {
  text-decoration: line-through;
  list-style-image: url(https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/checkmark-24-512.png);
}
