header {
 text-align: center;
 font-family: 'sans-serifs';
}

.nav {
 display: inline;
 list-style: none;
 position: fixed;
 width: 85%;
 background-color: #282828;
 color: white;
 top: 0;
 left: 0;
 margin-left: auto;
 margin-right: auto;
 border-bottom: 4px solid #FF3300;
 font-size: 15pt;
}
nav>ul>li {
 display: inline;
 
}

section {
 margin-top: 50px;
 vertical-align: middle;
 border: 1px solid red;
 width: 85%;
}

article {
 float: left; 
 width: 60%;
 border: 1px solid black;
}

aside {
 float: left;
 width: 25%;
 border: 1px solid black;
}
