h1 {
 color: blue;
}
p {
 color: #101010;
}
.nav {
 display: inline;
 list-style: none;
 position: fixed;
 width: 85%;
 background-color: #282828;
 color: white;
 height: 50px;
 top: 0px;
 left: 0px; 
 border-bottom: 4px solid #FF3300;
 font-size: 15pt;
}
nav>ul>li {
 display: inline;
 
}

body {
 margin-top: 50px;
 vertical-align: middle;
 border: 1px solid red;
 width: 85%;
}

section {
 float: left; 
 width: 60%;
 border: 1px solid black;
}

aside {
 float: left;
 width: 25%;
 border: 1px solid black;
}
