h1 {
 color: blue;
}
p {
 color: #101010;
}
.nav {
 display: inline;
 list-style: none;
 position: fixed;
 width: 85%;
 background-color: #282828;
 color: white;
 height: 50px;
 top: 0px;
 left: 0px;
}

body {
 margin-top: 50px;
}
