#high {
  color: red;
  list-style-type: square;
  
}

#medium {
  color: DarkBlue;
  list-style-type: square;
}

#low {
  color: DodgerBlue;
  list-style-type: square;
}

#complete {
  text-declaration: line-through;
}
